[submodule "ansible/roles/etcd"]
	path = ansible/roles/etcd
	url = https://github.com/kofonfor/ansible-role-etcd.git
[submodule "ansible/roles/patroni"]
	path = ansible/roles/patroni
	url = https://github.com/kofonfor/ansible-role-patroni.git
[submodule "ansible/roles/postgresql"]
	path = ansible/roles/postgresql
	url = https://github.com/kofonfor/ansible-role-postgresql.git
[submodule "ansible/roles/pghoard"]
	path = ansible/roles/pghoard
	url = https://github.com/kofonfor/ansible-role-pghoard.git
[submodule "ansible/roles/docker-io"]
	path = ansible/roles/docker-io
	url = https://github.com/kofonfor/ansible-role-docker-io.git
[submodule "ansible/roles/docker.ubuntu"]
	path = ansible/roles/docker.ubuntu
	url = https://github.com/angstwad/docker.ubuntu.git
[submodule "ansible/roles/postgresql-exporter-container"]
	path = ansible/roles/postgresql-exporter-container
	url = https://github.com/kofonfor/ansible-role-postgresql-exporter-container.git
